body{
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}
.page-wrapper{
  background-color: #424242;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
.container{
  flex-grow: 1;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.video-background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

.video{
  &-gsap{
    position: fixed;
    left: 0;
    top: 50vh;
    transform: translateY(-50%);
    width: 100vw;
    height: calc(100vw * 16 / 9);
  }
  &-container{
    height: 700vh;
  }
}
.collapse{
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #21004c;
  color: #fff;
  font-size: 20px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn{
  width: 156px;
  height: 48px;
  border-radius: 8px;
  background-color: #21004c;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  letter-spacing: .2px;
  &-wrapper{
    display: flex;
    gap: 8px;
  }
}
.cart{
  width: 250px;
  height: 150px;
  border-radius: 4px;
  background-color: #21004c;
  box-sizing: border-box;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &-remove{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2 6.2C20.7 5.7 20.8 4.8 20.2 4.2C19.6 3.6 18.7 3.6 18.1 4.1L12.1 10.2L6 4C5.4 3.4 4.5 3.5 4 4C3.4 4.6 3.4 5.4 4 6L10.1 12.2L4 18.3C3.4 19 3.4 19.8 4 20.4C4.6 21 5.5 21 6 20.4L12.4 14.2L18.1 20.2C18.7 20.7 19.7 20.8 20.2 20.3C20.8 19.7 20.7 18.7 20.1 18.2L14.2 12.2L20.2 6.2L20.2 6.24Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  &--distribute{
    width: 50px;
    height: 50px;
    border-radius: 0;
    border: 1px solid #fff;
  }

  &-list{
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    &--column{
      flex-direction: column;
      overflow: hidden;
      background-color: #424242;
    }
    &--wrap{
      flex-direction: column;
      overflow: hidden;
      align-items: flex-start;
    }
    &--block{
      width: 680px;
      height: 340px;
      display: block;
      margin: auto;
      flex-grow: 0;
    }
    &--snap{
      width: 680px;
      height: 150px;
      display: block;
      margin: auto;
      flex-grow: 0;
    }
    &--distribute{
      width: 330px;
      height: 330px;
      margin: auto;
      flex-grow: 0;
    }
    &--flip{
      flex-grow: 0;
      align-items: flex-start;
    }
  }
  &-wrapper{
    flex-grow: 1;
    width: 100%;
    display: flex;
    gap: 10px;
    background-color: #191919;
    box-sizing: border-box;
    padding: 10px;
    max-width: 720px;
    max-height: 420px;
    margin: auto;
  }
}
.quick{
  flex-grow: 1;
  position: relative;
  &-image{
    width: 120px;
    height: 26px;
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 13px);
  }

}

.fps{
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding: 8px;
  color: #fff;
  font-size: 25px;
}
.tick{
  height: 26px;
  position: relative;
  &-image{
    width: 120px;
    height: 26px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.eases{
  width: 100%;
  flex-grow: 1;
  display: flex;
  gap: 10px;
  max-height: 550px;
  margin: auto;
  background-color: #191919;
  max-width: 1000px;
  &-menu{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 250px;
    background-color: #21004c;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    &-block{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
  &-btn{
    display: inline-block;
    cursor: pointer;
    &.active{
      color: #42affa;
    }
  }
  &-container{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 120px;
    overflow: hidden;
    padding-bottom: 40px;
  }
  &-dot{
    width: 80px;
    height: 80px;
    background-color: #fff;
  }
  &-line{
    width: 80px;
    height: 2px;
    background-color: #fff;
  }
  &-wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &-title{
    padding-top: 20px;
    font-size: 22px;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-align: center;
    color: #fff;
  }
}

.main-image{
  display: inline-block;
  width: 500px;
  margin: auto;
}

.nav{
  width: 200px;
  min-width: 200px;
  background-color: #21004c;
  color: #fff;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  box-sizing: border-box;
  padding: 20px;
  max-height: 100vh;
  overflow: auto;
  @media (max-width: 767px) {
    display: none;
  }
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #34066E;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #481090;
    border-radius: 6px;
  }

  &-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  &-item{
    color: #42affa;
    cursor: pointer;
    text-decoration: underline;
    transition: opacity .2s linear;
    &:hover{
      opacity: .7;
    }
  }
  &-title{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .5px;
  }
}


.type{
  &-text{
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 700px;
    margin: auto;
  }
  &-input{
    flex-grow: 1;
    max-width: 880px;
    border-radius: 6px;
    outline: none;
    border: none;
    box-sizing: border-box;
    padding: 0 16px;
    font-size: 16px;
  }
}